body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

p h1 {
	font-family: Favorit-Regular, Helvetica, Avenir, sans-serif;
}

* {
	box-sizing: border-box;
}
span {
	font-family: Mercury-Bold;
	font-size: 6rem;
}
.title {
	display: flex;
	background-image: url(/images/BwAstro.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
	font-family: Mercury-Bold;
	color: white;
	height: 100vh;
	margin: 0;
	animation: fadeIn linear 4s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.header-box {
	display: flex;
	justify-content: flex-start;
	font-size: 60px;
	font-family: Favorit-Regular, Helvetica, Avenir, sans-serif;
	color: white;
	height: 20vh;
	margin: 0;
	background-image: url(/images/justice-dodson.png);
	background-repeat: no-repeat;
	background-size: auto;
}
.moon {
	background-image: url(/images/BwAstro.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 80vh;
	text-align: center;
	overflow: none;
	background-position: center center;
}

.why {
	background-image: url(/images/paul-gilmore-RtQ42GAm21g-unsplash@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 80vh;
	text-align: center;
	overflow: none;
	background-position: center center;
}
.accept {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(/images/AstronautGroup.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	height: 100vh;
	text-align: center;
}

.container {
	color: white;
	margin: 0 auto;
	font-size: 24px;
	/* padding: 10px; */
	width: 100%;
	padding-top: 15px;
}
.tested {
	display: flex;
	align-items: center;
	background-image: url(/images/nasa@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	width: 100%;
	height: 100vh;
	text-align: center;
}
.text-body {
	color: #fff;
	padding: 0;
	display: flex;
	justify-content: center;
}
